@page "/login"
@using T1Driver.Models
@using T1Driver.Data
@using System.Threading
@using T1Driver.Authentication

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<AuthorizeView>
    <NotAuthorized>
        <h3>Login</h3>
        <div id="logIn">
            <div >Username </div> <input type="text" placeholder="username" @bind-value="username"/>
            <div id="password"> Password </div> <input type="password" placeholder="password" @bind-value="password"/>
            <div>
                <button id="logButt" @onclick="PerformLogin"> Log in </button>
                <button id="registerButt" @onclick="PerformRegister"> Sign Up</button>
            </div>
            <div style="color:red">@message</div>
        </div>
    </NotAuthorized>
    <Authorized>
        <h3>You are signed in!</h3>
        <button id="logoutButt" @onclick="PerformLogout"> Log out</button>
        </Authorized>
</AuthorizeView>

@code {
    private Driver CurrentUser;

    private string message;
    private string username;
    private string password;

    IUserServices client = new UserServices();

    public async Task PerformLogin()
    {
        message = "";
        try
        {
            client.Connect();
            Thread.Sleep(100);
            ((UserAuthenticationStateProvider) AuthenticationStateProvider).ValidateLogin(username, password);
            message = "Login succeed!";

        }
        catch (Exception e)
        {
            message = "Username or password is incorrect!";
            Console.WriteLine(e);
        }        
    }
    
    public async Task PerformLogout()
    {
        message = "";
        username = "";
        password = "";
        try
        {
            ((UserAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            message = "Logout succeed!";
        }
        catch (Exception e)
        {
            message = e.Message;
        }
    }
    
    public async Task PerformRegister()
    {
        client.Connect();
        Thread.Sleep(100);
        client.Register(username, password);
    }
}